@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&family=Source+Serif+Pro:wght@300&display=swap');
 
*{
    font-family: 'Public Sans', sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin: 0;
}

h2:first-child{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.inicial{
    display: flex;
    justify-content: center;  
}

.pinturas .quadro img{
    width: 335px;
    height: 431px;
}

.pinturas{
    display: flex;
    flex-wrap: wrap;
    top: 129px;
    position: relative;
    gap: 19px;
}

.pinturas h2, .pinturas p{
    display: flex;
    position: absolute;
}

.pinturas h2{
    margin-left: 26px;
    margin-top: 328px;
}

.pinturas p{
    margin-left: 26px;
    margin-top: 368px;
}